<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/blog.css">
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p><%= description %></p>
  <a href="/">Back to Homepage</a>

  <%# Footer goes here%>

  

  <footer>
    
    <span>&copy; Divyansh Malani <%= new Date().getFullYear() %></span>
  </footer>
</body>
</html>
